global_defs {
    @{{ lb_master }} router_id LVS_MASTER
    @{{ lb_backup }} router_id LVS_BACKUP
    lvs_sync_daemon {{ ansible_eth.0 }} VirtIP_10
}

vrrp_instance VirtIP_10 {
    @{{ lb_master }} state MASTER
    @{{ lb_backup }} state BACKUP
    interface {{ ansible_eth.1 }} 
    virtual_router_id 10

    @{{ lb_master }} priority 150
    @{{ lb_backup }} priority 50
    advert_int 1

    virtual_ipaddress {
        {{ lb_vip }}
    }
}

virtual_server {{ lb_vip }} 6443 {
    delay_loop 10
    lvs_sched wrr
    lvs_method DR
    protocol TCP

    {% for host in groups['masters'] %}
    real_server {{ hostvars[host].ansible_host }} 6443 {
        weight 33
        TCP_CHECK {
            connect_timeout 5
        }
    }
    {% endfor %}

}