---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: "{{ kubernetes_version }}"
apiServer:
  certSANs:
  - "{{ master_hostname }}"
  extraArgs:
    advertise-address: "{{ lb_vip }}"
controlPlaneEndpoint: "{{ master_hostname }}:6443"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
failSwapOn: false
authorization:
  mode: Webhook
authentication:
  webhook:
    enabled: true